<%- include('parts/head', {bot, user, path}) %>
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
<style>
  h1 {
    color: #fFf;
  }
  .background {
    position: relative;
}

.layer {
    background-color: rgba(248, 247, 216, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
</style>

<!--

Discord partner icon: https://cdn.discordapp.com/emojis/815337272211800064.png
Verified server icon: https://cdn.discordapp.com/emojis/830078587653980161.png
-->
<div class="columns is-multiline is-desktop is-variable is-7 mt-5 pt-5" style="margin-left: 5px;">


  <div class="column is-3 mb-5">    
                <div style="background-color: #23272a;" class="box cardvcodesbotCard">
                  <div>
                    <img draggable="false" onerror="imgError(this);" alt="" src="https://cdn.discordapp.com/attachments/830359682308112404/830526955514101760/994c0a6ad4c4179c087cb7d23c31438d.png?size=2048" class="is-pulled-left cardvcodesbotIMG z">
                  </div>
                  <div class="is-pulled-right is-inline-block">
                     <span class="tag is-dark mt-1 w-100"><i class="fad fa-user-crown"></i>&nbsp; dizzy#8731</span><br>
                    <span class="tag is-dark mt-1 w-100"><i class="fad fa-users"></i>&nbsp;Members: +2300</span>
                     </div>
                   <br><br><br>
                  <p style="margin-top: 5px;" class="cardvcodesbotName has-text-white mt-5">
                    
                      
                    Hârem | Craftrise <a data-tooltip="Verified" data-tooltip-location="top"><img src="https://cdn.discordapp.com/emojis/830078587653980161.png?v=1" style="width:20px"></a>
                    
                </p>   
                  <p style="margin-top: -10px;" class="cardvcodesbotDesc">Türkiye'nin en büyük Oyun sunuclarından biri olan CraftRise Network oyuncularının eğlendiği ve Harem Loncasının Resmi sunucusudur. </p><br>
                  <center>
                  <div class="cardvcodesbotButtons">
                      <a href="https://discord.gg/haremcr" target="_blank" class="btn btn-card"><i class="fad fa-eye"></i>&nbsp;View</a>
                      <br><br>

                     </div>
                 </center>
                </div>
            </div>
  
  <div class="column is-3 mb-5">    
                <div style="background-color: #23272a;" class="box cardvcodesbotCard">
                  <div>
                    <img draggable="false" onerror="imgError(this);" alt="" src="https://cdn.discordapp.com/icons/784495067997798450/a_bc261a2193a6f2dcd4e04a7bfdd61840.gif" class="is-pulled-left cardvcodesbotIMG z">
                  </div>
                  <div class="is-pulled-right is-inline-block">
                     <span class="tag is-dark mt-1 w-100"><i class="fad fa-user-crown"></i>&nbsp; Asreaper#0001</span><br>
                    <span class="tag is-dark mt-1 w-100"><i class="fad fa-users"></i>&nbsp;Members: +3300</span>
                     </div>
                   <br><br><br>
                  <p style="margin-top: 5px; text-aling:left;" class="cardvcodesbotName has-text-white mt-5">
                  MaximusBoys <a data-tooltip="Verified" data-tooltip-location="top"><img src="https://cdn.discordapp.com/emojis/830078587653980161.png?v=1" style="width:20px"></a>
                  </p>   
                  <p style="margin-top: -10px;" class="cardvcodesbotDesc">Discord bot geliştiricilerin için kod, hazır alt yapı ve daha pek çok fazlasının bulunduğu toplulukda seninde yerin hazır!</p>
                  <center>
<br><br>
                  <div class="cardvcodesbotButtons"><br><br>
                      <a href="https://discord.gg/plasmic" target="_blank" class="btn btn-card"><i class="fad fa-eye"></i>&nbsp;View</a>
                      <br><br>

                     </div>
                 </center>
                </div>
            </div>
  
  </center>
         </div>
<br><br><br><br>
<%- include('parts/foot') %>